<div>
  <div>
    <h3 style="display:inline-block; padding-right: 0em;">Feeds</h3>
    <p style="display:inline-block; padding-right: 0.5em;"
       v-on:click="data.forceRefresh()">refresh</p>
  </div>
  <div class="feed-list-item"
      v-on:click="Transitions.transitionToFeedView(data.allCombo)">
    <p>{{data.allCombo.title}}</p>
  </div>
  <div class="feed-list-item"
      v-for="feed in data.feeds"
      v-on:click="Transitions.transitionToFeedView(feed)"
      v-bind:class="[feed.isActive ? 'active' : '']">
    <p>{{feed.title}}</p>
  </div>
  <button v-on:click="data.newFeed()">+</button>
  <input v-model="data.newUrl"></input>
</div>
